.navigation {
  grid-area: navigation;
  display: flex;
  flex-direction: column;
  height: 100%;

  ul {
    list-style: none;
    padding: 0 25px;
    margin: 10px 0;
  }

  li {
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 10px 0;
    cursor: pointer;
    transition: color .2s linear;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 10px;
  }

  li:hover {
    color: var(--accent_color);
  }

  svg {
    font-size: 16px;
    margin-right: 10px;
  }

  br {
    content: "";
    width: 100%;
    display: block;
    height: 1px;
    border-bottom: 1px solid var(--text_color);
  }
}

.watermark {
  display: flex;
  align-items: center;
  margin: 10px 20px;
  background-color: var(--bg_2_color);
  border-radius: 10px;
  width: 100px;

  img {
    width: 30px;
    height: auto;
    border-radius: 100%;
  }

  span {
    font-size: 13px;
    margin-left: 10px;
  }
}