.window {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-area: window;

  #drag-region {
    margin-top: 4px;
    -webkit-app-region: drag;
  }

  .controls {
    display: flex;
    flex-direction: row;
    color: white;

    div {
      display: grid;
      place-items: center;
      height: 25px;
      width: 25px;
    }
  }

  #min-button:hover, #max-button:hover {
    color: var(--text_color);
    background-color: var(--bg_2_color);
  }

  #close-button:hover {
    color: var(--text_color);
    background-color: var(--red);
  }
}

