* {
  margin: 0;
  padding: 0;
}

:root {
  --text_color: #ffffff;
  --subject_color: #8a8a8a;
  --bg_1_color: #1e1e1e;
  --bg_2_color: #252526;
  --bg_3_color: #2d2d30;
  --bg_4_color: #3e3e42;
  --accent_color: #f28482;
  --highlight_accent: #f29d9b;
  --red: #f04747;
  --banner-overlay: #0c0c0c8f;
}

@font-face {
  font-family: Noto;
  src: url(../assets/fonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: NotoBold;
  src: url(../assets/fonts/NotoSans-Bold.ttf);
}

html, body, #root {
  background-color: var(--bg_1_color);
  color: var(--text_color);
  font-family: Noto;
  height: 100%;
  width: 100%;
  min-width: 500px;
  max-height: 100%;
  overflow: hidden;
}

.appLayout {
  display: grid;
  max-height: 100%;
  min-height: 100%;
  width: 100%;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 25px 1fr 100px;
  grid-template-areas: 
  "toolbar toolbar"
  "navigation view"
  "player player";

}

.appLayout > * {
  max-height: 100%;
  overflow: hidden;
}

.viewWrapper {
  grid-area: view;
}

.playerWrapper {
  grid-area: player;
}

/* Toolbar */

.toolbarWrapper {
  grid-area: toolbar;
  align-items: center;
  background-color: var(--bg_1_color);
  color: var(--subject_color);

  display: flex;
  font-size: 13px;
  height: 25px;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
}

#drag-region {
  width: calc(100% - 78px);
  height: calc(100% - 4px);;
  margin: 4px 0 0 0;
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
}

.toolbarWrapper > div {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  width: 78px;
}

.toolbarWrapper > div > span {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
}

.toolbarWrapper > div > span > i {
  margin: 0px 7px;
}

#min-button:hover, #max-button:hover {
  color: var(--text_color);
  background-color: var(--bg_2_color);
}

#close-button:hover {
  color: var(--text_color);
  background-color: var(--red);
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg_3_color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--bg_4_color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--subject_color);
}

/* Watermark */

.watermark {
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: var(--bg_2_color);
  border-radius: 10px;
  width: 100px;
}

.watermark img {
  width: 30px;
  height: auto;
  border-radius: 100%;
}

.watermark p {
  font-size: 13px;
  margin-left: 10px;
}

/* Navigation */

.navigationWrapper {
  grid-area: navigation;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navigationWrapper li {
  font-size: 13px;
  padding: 10px 0;
  cursor: pointer;
  transition: color .2s linear;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.navigationWrapper i {
  margin-right: 10px;
}

.navigationWrapper li:hover {
  color: var(--accent_color);
}

.navigationWrapper br {
  content: "";
  display: block;
  height: 1px;
  border-bottom: 1px solid var(--text_color);
}

.navigationWrapper ul {
  list-style: none;
  padding: 0 25px 10px;
}

/* Playlists */

#playlists {
  height: calc(100% - 70px - 162px - 30px);
  overflow-y: scroll;
}

/* View */

.viewWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg_2_color);
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Banner */

.banner {
  height: 250px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  transition: height 1s cubic-bezier(.8,.18,.22,.96);
}

.banner h1 {
  margin: 20px;
  text-shadow: 6px 5px 13px #000000a1;
}

/* MiniBanner */

.miniBanner {
  position: fixed;
  top: 0px;
  transform: translateY(-25px);
  width: calc(100% - 200px);
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: top .5s cubic-bezier(.8,.18,.22,.96), box-shadow .5s cubic-bezier(.8,.18,.22,.96);
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid var(--bg_4_color);
}

.miniBanner p {
  margin: 20px;
  font-size: 17px;
  text-shadow: 6px 5px 13px #000000a1;
}

.miniBanner span {
  margin: 20px;
  font-size: 13px;
  text-shadow: 6px 5px 13px #000000a1;
}

.miniBanner span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.showMiniBanner {
  top: 50px;
  box-shadow: rgb(0 0 0 / 63%) 0px 0px 15px;
  z-index: 500;
}

/* Library menu */

.libraryMenu {
  top: 0;
  left: 0;
  background-color: var(--bg_2_color);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border: 1px solid var(--bg_1_color);
  box-shadow: 1px 4px 6px 0px var(--bg_1_color);
}

.libraryMenu span {
  color: var(--subject_color);
  font-size: 14px;
}

.libraryMenu input {
  color: var(--text_color);
  padding: 8px 20px;
  border: 1px solid var(--bg_4_color);
  background-color: var(--bg_3_color);
  border-radius: 5px;
  margin: 8px 0;
  box-sizing: border-box;
}

.libraryMenu input:focus {
  outline: none;
}

/* Search Menu */

.searchMenu {
  top: 0;
  left: 0;
  background-color: var(--bg_2_color);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  border: 1px solid var(--bg_1_color);
  box-shadow: 1px 4px 6px 0px var(--bg_1_color);
}

.searchMenu input:focus {
  outline: none;
}

.searchMenu select:focus {
  outline: none;
}

#searchInput {
  border: none;
  width: 70%;
  height: 30px;
  color: var(--subject_color);
  padding: 20px;
  border-radius: 5px;
  background-color: var(--bg_1_color);
  cursor: text;
}

#searchCategory {
  border: none;
  width: 29%;
  height: 40px;
  color: var(--subject_color);
  padding: 0px 16px;
  border-radius: 5px;
  background-color: var(--bg_1_color);
  cursor: pointer;
}

/* searchCard */

.searchCard {
  display: flex;
  justify-content: flex-start;
  width: auto;
  height: 60px;
  max-height: 60px;
  background-color: var(--bg_1_color);
  border-radius: 5px;
  margin: 20px;
  overflow: hidden;
}

.searchCard > .cover {
  border-radius: 5px;
  width: 60px;
  height: 60px;
  min-width: 60px;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0);
  transition: all linear 0.2s;
}

.searchCard > .cover > .playButton {
  transition: all linear 0.2s;
  font-size: 20px;
  margin: auto;
  opacity: 0;
}

.searchCard:hover .playButton{
  transition: all linear 0.2s;
  opacity: 1;
  cursor: pointer;
}

.playButton:hover {
  color: var(--accent_color);
  transition: all linear 0.2s;
  opacity: 1;
  cursor: pointer;
}

.searchCard:hover .cover{
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
  transition: all linear 0.2s;
}

.searchCard > .metadataWrapper{
  overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.searchCard > .metadataWrapper > .metadata {
  overflow: hidden; 
  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  width: 20%;
  min-width: 150px;
}

.searchCard > .metadataWrapper > .metadata > div {
  width: 100%;
}

.searchCard > .metadataWrapper > .metadata > div > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchCard .title{
  font-family: NotoBold;
  margin: 0px 10px;
  font-size: 10px;
  color: var(--subject_color)
}

.searchCard .value{
  margin: 0px 10px;
  font-size: 12px;
}

.searchCard > .options > span{
  font-size: 20px;
  margin: 0px 20px 0px 20px;
}

.searchCard > .options > span:hover {
  color: var(--accent_color);
  transition: all linear 0.2s;
  opacity: 1;
  cursor: pointer;
}

.searchCard > .options {
  height: 100%;
  display: flex;
  align-items: center;
}

/* When searchcard is playing */
.searchCardPlaying > .cover > .playButton{
  opacity: 1;
}

.searchCardPlaying > .cover{
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.searchCardPlaying{
  transition: box-shadow linear 0.2s;
  /* box-shadow: 0px 0px 0px 1px var(--accent_color); */
  /* box-shadow: 0px 0px 24px -11px var(--accent_color); */
  box-shadow: 0px 13px 24px -17px var(--accent_color);
}

.beatmapValue:hover {
  color: var(--accent_color);
  transition: all linear 0.2s;
  cursor: pointer;
}



